/*/ 
Colors:
Main: 
Blue: #4EBDE5
Yellow: #FFD54C
/*/

/* Eventually organize these into seperate CSS files, like Utitlity, Buttons, etc */

/*
* Essentials 
*/

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  width: 70%;
}

@media screen and (max-width: 560px) {
  h3 {
    font-size: 1em;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width: 60%;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "AvenirNext-Bold";
  color: #4ebde5;
}

p {
  font-family: "AvenirNext-Regular";
  line-height: 1.6;
  font-size: 16;
}

span {
  font-family: "AvenirNext-Regular";
}
div {
  font-family: "AvenirNext-Regular";
}

p.indent {
  text-indent: 2.5em;
}

.s-line-height {
  line-height: 1.2;
}

a {
  text-decoration: none;
  font-family: "AvenirNext-Regular";
  cursor: pointer;
}

.grey {
  color: grey !important;
}
.black {
  color: black !important;
}
.blue {
  color: #4ebde5 !important;
}
.yellow {
  color: #ffd54c !important;
}
.white {
  color: white !important;
}

label {
  font-family: "AvenirNext-Demi";
}

ul,
ol,
li {
  font-family: "AvenirNext-Regular";
  line-height: 1.6;
  font-size: 16;
}

hr {
  border: 0.5px solid grey;
}

.heading-rule {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #4ebde5;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.heading-rule span {
  background: #fff;
  padding: 0 10px;
  color: #4ebde5;
  font-family: "AvenirNext-Bold" !important;
}

.regular-font {
  font-family: "AvenirNext-Regular";
  line-height: 1.6;
  font-size: 16;
}

.center-text {
  text-align: center !important;
}

.xs-text {
  font-size: 8px;
}

.s-text {
  font-size: 12px;
}

.m-text {
  font-size: 16px;
}

.l-text {
  font-size: 20px;
}

.xl-text {
  font-size: 24px;
}

/* 
* Responsive
*/

/* Large */
@media screen and (min-width: 1181px) {
  .wrapper {
    /* For outer Div holding the body */
    margin: 0 auto;
    width: 50%;
    padding: 2.5% 0 0 0;
  }

  .l-container {
    margin: auto;
    width: 70%;
    padding: 1%;
  }

  .m-container {
    margin: auto;
    width: 50%;
    padding: 1%;
  }

  .s-container {
    margin: auto;
    width: 25%;
    padding: 1%;
  }
}

/* Medium */
@media screen and (min-width: 561px) and (max-width: 1180px) {
  .wrapper {
    margin: 0 auto;
    width: 70%;
    padding: 5% 0 0 0;
  }

  .l-container {
    margin: auto;
    width: 90%;
    padding: 1%;
  }

  .m-container {
    margin: auto;
    width: 80%;
    padding: 1%;
  }

  .s-container {
    margin: auto;
    width: 70%;
    padding: 1%;
  }
}

/* Small */
@media screen and (max-width: 560px) {
  .wrapper {
    margin: 0 auto;
    width: 90%;
    padding: 10% 0 0 0;
  }

  .l-container {
    margin: auto;
    width: 95%;
    padding: 1%;
  }

  .m-container {
    margin: auto;
    width: 95%;
    padding: 0.5%;
  }

  .s-container {
    margin: auto;
    width: 95%;
    padding: 0.5%;
  }
}

/* 
* Forms 
*/
input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 16px;
  color: black;
  font-family: "AvenirNext-Regular";
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(130, 130, 130);
  outline-width: 0;
  background: none;
}

input[type="text"].box {
  font-family: "AvenirNext-Regular";
  font-size: 16px;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 4px;
  background-color: white;
  resize: none;
}

input[type="text"]:disabled {
  color: rgb(171, 171, 171);
}

input[type="file"] {
  font-family: "AvenirNext-Regular";
  padding: 0px 0px 10px 0px;
}

textarea {
  font-family: "AvenirNext-Regular";
  font-size: 16px;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 4px;
  background-color: white;
  resize: none;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
}

/* 
* Objects 
*/
.collapse-content {
  padding: 1% 2% 0 2%;
  background-color: #dddddd93;
  border: 1px solid #4ebde5;
  border-radius: 0 3px 3px 3px;
  border-color: #4ebde5 !important;
}

.hide {
  display: none;
}

.horiz-center {
  margin: 0 auto;
}

.s-border {
  border-style: solid;
  border-width: 1px;
  border-color: #4ebde5;
}

.m-border {
  border-style: solid;
  border-width: 3px;
  border-color: #4ebde5;
}

.l-border {
  border-style: solid;
  border-width: 5px;
  border-color: #4ebde5;
}

.left-border {
  border-left: 6px solid #4ebde5;
  padding: 10px 0px 10px 5px;
}

.no-padding {
  padding: 0px !important;
}

.s-padding {
  padding: 1%;
}

.m-padding {
  padding: 5%;
}

.l-padding {
  padding: 10%;
}

.no-margin {
  margin: 0px;
}

.s-margin {
  margin: 1%;
}

.m-margin {
  margin: 5%;
}

.l-margin {
  margin: 10%;
}

.s-width {
  width: 25% !important;
}

.m-width {
  width: 50% !important;
}

.l-width {
  width: 75% !important;
}

@media screen and (max-width: 560px) {
  .s-width {
    width: 90% !important;
  }

  .m-width {
    width: 90% !important;
  }

  .l-width {
    width: 90% !important;
  }
}

/*
* Positioning
*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

.right {
  display: block;
  float: right;
}

.left {
  display: block;
  float: left;
}

/* Using the position attribute */
.p-container {
  position: relative;
}

.p-top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.p-top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.p-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.p-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.p-center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.p-bottom-center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

/* 
* Images
*/
.hover:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #ffd54c;
  cursor: pointer;
}

img.call-btn {
  width: 100%;
  height: auto;
  max-width: 75px;
  padding: 5px;
}

img.xsmall {
  width: 100%;
  height: auto;
  max-width: 50px;
  padding: 5px;
}

img.small {
  width: 100%;
  height: auto;
  max-width: 100px;
  padding: 5px;
}

img.medium {
  width: 100%;
  height: auto;
  max-width: 150px;
  padding: 5px;
}

img.large {
  width: 100%;
  height: auto;
  max-width: 300px;
  padding: 5px;
}

img.xlarge {
  width: 100%;
  height: auto;
  max-width: 450px;
  padding: 5px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

img.em {
  height: 1.25em;
}

.m-flat-icon {
  max-width: 175px;
}

i.small {
  width: 100%;
  height: auto;
  max-width: 100px;
  padding: 5px;
}

i.medium {
  width: 100%;
  height: auto;
  max-width: 150px;
  padding: 5px;
}

i.large {
  width: 100%;
  height: auto;
  max-width: 300px !important;
  padding: 5px;
}

/* 
* Multiline text overflow 
*/
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.5em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 4.5em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;

  padding: 0 1em 0 0;
  margin: 0 -1em 0 0;
}
.block-with-text:before {
  /* points in the end */
  content: "...";
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  /* points in the end */
  content: "";
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
